@using UI.Models
@model ProductListViewModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
        <div>
            <table class="table table-responsive">
                <tr>
                    <th>Product Name</th>
                    <th>Unit Price</th>
                    <th>Units In Stock</th>
                </tr>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.ProductName</td>
                        <td>@product.UnitPrice</td>
                        <td>@product.UnitsInStock</td>
                    </tr>

                }
            </table>

        </div>
  
